<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.esca.escahp.mapper.FreeBoardDao">
  <select id="selectAll" resultType="FreeBoardDto">
    SELECT  f.id, f.title, IFNULL(u.nickname, "탈퇴 회원") as writer, f.created_at, f.view
    FROM    user u RIGHT OUTER JOIN free f
    ON      u.id = f.user_id
  </select>

  <select id="select" parameterType="long" resultType="FreeBoardDto">
    SELECT  f.id, f.title, IFNULL(u.nickname, "탈퇴 회원") as writer, f.created_at, f.view
    FROM    user u RIGHT OUTER JOIN free f
    ON      u.id = f.user_id
  </select>

  <insert id="insert" parameterType="FreeBoardDto">
    INSERT INTO free(title, user_id, file, content)
    VALUES (#{title}, (SELECT id FROM user WHERE nickname = #{writer}), #{file}, #{content})
    <selectKey keyProperty="no" resultType="long" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
</mapper>