<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esca.escahp.mapper.GalleryBoardDao">
    <select id="selectGalleryBoardList" resultType="com.esca.escahp.dto.GalleryBoardDto">
        SELECT id
             , title
             , category
             , content
             , file
             , view_cnt
             , user_id
             , created_at
             , updated_at
             , delete_yn
        FROM gallery
        WHERE delete_yn = 'n'
    </select>
    <select id="selectGalleryBoard" parameterType="long" resultType="com.esca.escahp.dto.GalleryBoardDto">
        SELECT id
             , category
             , title
             , content
             , file
             , created_at
             , updated_at
             , view_cnt
             , user_id
             , delete_yn
        FROM gallery
        WHERE delete_yn = 'n'
          AND   id = #{id}
    </select>

    <insert id="insertGalleryBoard" parameterType="com.esca.escahp.dto.GalleryBoardDto">
        INSERT INTO gallery(category, title, content, file, view_cnt, user_id, created_at,delete_yn)
        VALUES (#{category}, #{title}, #{content}, #{file}, #{view_cnt}, #{user_id}, now(),'n');
    </insert>

    <update id="updateGalleryBoard" parameterType="com.esca.escahp.dto.GalleryBoardDto">
        UPDATE gallery
        SET
            title = #{title}
            , category = #{category}
            , content = #{content}
            , view_cnt = view_cnt + 1
            , file = #{file}
            , updated_at = NOW()
        WHERE
            id = #{id}
    </update>

    <delete id="deleteGalleryBoard" parameterType="com.esca.escahp.dto.GalleryBoardDto">
        UPDATE gallery
        SET
            delete_yn = 'Y'
            ,deleted_at = now()
        WHERE
            id = #{id}
    </delete>
</mapper>