<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.esca.escahp.mapper.StudyBoardDao">
  <select id="getStudyBoardList" resultType="com.esca.escahp.dto.StudyBoardDto">
        SELECT *
        FROM study
        Where delete_yn = 'N'
        ORDER BY id DESC
  </select>

  <select id="selectStudyBoard" parameterType="Long" resultType="com.esca.escahp.dto.StudyBoardDto">
        SELECT *
        FROM study
        where delete_yn = 'N'
        and id = #{id};

  </select>

  <insert id="addBoard" parameterType="com.esca.escahp.dto.StudyBoardDto">
    INSERT INTO study(category, title, content, file, created_at, view_cnt, user_id)
    VALUES (#{category}, #{title}, #{content}, #{file}, now(), #{view_cnt}, #{user_id});
  </insert>

</mapper>