<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.esca.escahp.mapper.StudyBoardDao">

  <update id="updateViewCnt" parameterType="studyBoardDto">
    UPDATE study
    SET
      view_cnt = view_cnt + 1
    WHERE
      id = #{id}
  </update>
</mapper>